@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

ion-icon{
    pointer-events: none;
}

header{
    z-index: 10;
}

button{
    cursor: pointer;
}

.container {
    display: flex;
}

.loading-screen{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
}

.loading-screen h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #EC362D;
}

.screen1-1{
    flex-direction: column;
    align-items: center;
}

.your-quizzes{
    width: 1065px;
    margin: 146px 0px 71px 0px;
    flex-direction: column;
}

.ql-title{
    margin-bottom: 3px;
    padding: 0px 7px;

    align-items: center;
    position: relative;
}

.yq-filled h1, .all-quizzes h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.yq-filled ion-icon{
    font-size: 30px;
    color: #EC362D;
}

.yq-filled ion-button{
    margin-left: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.yq-quizzlist{
    width: 1065px;

    flex-direction: row;
    flex-wrap: wrap;
}

.yq-empty{
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yq-empty h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #B9B9B9;

    margin-bottom: 20px;
}

.yq-empty button{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background: transparent;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

.all-quizzes{
    width: 1065px;
    flex-direction: column;
}

.quizz-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quizz-ghost {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
}

.quizz{
    position: relative;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    padding: 13px;
    margin: 7px;
    cursor: pointer;
    position: relative;

    background-size: 100% 100%;

    display: flex;
    align-items: flex-end;
}

.quizz h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    word-break: break-word;

    bottom: 0;
}

.button-section {
    position: absolute;
    z-index: 10;
    top: 9px;
    right: 0px;

    width: 43px;
    height: 87px;

    padding-left: 5px;

    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    background: #EC362D;
    border-radius: 10px 0px 0px 11px;

}

.button-section ion-icon {
    font-size: 32px;
    color: white;
}

.screen2-1{
    flex-direction: column;
    align-items: center;
}

.top-banner{
    width: 100%;
    height: 227px;

    margin-top: 69px;
    padding: 4%;

    background-size: 100%;
    background-position: left center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.top-banner h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    word-break: break-word;
}

.question-container{
    width: 759px;
    margin-top: 42px;
    background-color: #FFFFFF;
    padding: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question{
    width: 100%;
    min-height: 138px;
    margin-bottom: 20px;
    padding: 5%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    word-break: break-word;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-container{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
}

.answer-container img{
    width: 100%;
    aspect-ratio: 10/6;
}

.answer-container h1{
    margin-top: 4%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #000000;
}

.answer{
    width: 48.5%;
    height: 32%;
    cursor: pointer;
    margin-bottom: 20px;
    word-break: break-word;
}


.ocult {
    display: none;
}

header {

    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    background-color: #EC362D;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 69px;
    width: 100%;

    align-items: center;
    justify-content: center;

}

.screen3-1, .screen3-2, .screen3-3, .screen3-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-up 600ms;
}

.screen3-4 img {
    width: 500px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);
    border-radius: 5px;
}

.user-quizz-ready {
    position: relative;
}

.user-quizz-ready h4 {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 15px;
    overflow: hidden;
    max-width: 485px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 22px;

    color: #FFFFFF;
}

.screen3-4 button {
    width: 220.32px;
    margin-top: 36px;
    height: 44px;
}

.posicione {
    position: absolute;
}

.white-button {
     margin-top: 0px !important;
     width: 219.64px;
     height: 44px;
     color: #818181 !important;
     background-color: #fafafa !important;
}

.quizz-creation h2 {
    color: red;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
    margin-bottom: 20px;
}

.screen3-2 h2 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.initial-info {

    background-color: white;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    width: 600px;
    min-height: 256px;
    margin-bottom: 85px;
}

.quizz-creation h1 {

    margin-top: 131px;
    margin-bottom: 27px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

}

.quizz-creation h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.qc-question-info, .level-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 601px;
    padding: 20px;
    padding-top: 0px;
    background-color: white;
}

.qc-question-info {
    margin-bottom: 24px;
    min-height: 700px;
}

.level-info {
    min-height: 318px;
}

.screen3-2 button, .screen3-3 button {
    width: 353.91px;
    height: 54px;
}

.screen3-3 button {
    margin-top: 40px;
    margin-bottom: 20px;
}

.qc-question, .level {
    margin-bottom: 24px;
}

.screen3-2 h1 {
    margin-top: 90px;
}

.qc-question-info h3, .level-info h3 {
    align-self: flex-start;
    margin-left: 20px;
}

.qc-question-info input, .level-info input {
    align-self: flex-start;
    margin-left: 20px;
}

.qc-question-box, .level-box {
    width: 601px;
    height: 74px;
    background-color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.level-box h2, .level-info h2, .initial-info h2, .qc-question-box h2, .qc-question-info h2 {
    margin-top: 10px;
    padding-left: 20px;
    align-self: flex-start;
    font-size: 16px;
}

.quizz-creation button {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    color: #FFF5F4;
    background: #EC362D;
    border-radius: 15px;

    border: solid 0px black;

}

#to3-2-button {
    width: 367.72px;
    height: 54px;
}

.quizz-creation input {
    width: 94%;
    height: 54px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.initial-info input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
}

.question-info {
    height: 316px !important;
}

.AnswerOpacity{
    opacity: 30%;
}

.true{ /* Identify true answers */

}
.false{ /* Identify false answers */

}

.AlreadySelected {

}

.final-result-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.95px;

    background-color: #EC362D;
    color: white;
    height: 99px;
    width: 100%;
}

.final-result-container{
    display:flex;
    word-break: break-word;
    margin-bottom: 57px;
}

.final-result-container img{
    width: 370px;
    height: auto;
}

.final-result-text{
    border-radius: nullpx;
    margin-left: 21px;

    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
}

.end-quizz-buttons{
    margin: 57px 0px 70px 0px;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.end-quizz-buttons button{
    width: 260px;
    height: 52px;
    border: none;
    border-radius: 15px;
    margin-bottom: 16px;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
}

.eq-restart{
    background-color: #EC362D;
    color: #FFF5F4;
}

.eq-back{
    background-color: transparent;
    color: #818181;
}

@media (max-width: 600px) {

    .ql-title ion-button{
        position: absolute;
        right: 7px;
    }

    .initial-info, .qc-question, .level {
        width: 100vw;
    }

    .question{
        margin-bottom: 13px;
    }

    .final-result-container{
        flex-direction: column;
    }

    .final-result-text {
        margin-left: 0px;
        margin-top: 9px;
    }

    .final-result-container img{
        width: 100%;
    }

    .end-quizz-buttons {
        margin: 6vh 0vh;
    }
}

@media (max-width: 759px) {

    .question-container {
        width: 100vw;
        margin-top: 5vh;
    }

    .top-banner {
        height: auto;
        aspect-ratio: 10/4;
    }

    .question-container {
        margin-top: 5vh;
    }

    .question {
        min-height: auto;
        aspect-ratio: 10/2.6;
    }

    .final-result-container {
        flex-direction: column;
    }

    .final-result-text {
        margin-top: 9px;
    }

    .final-result-container img {
        width: 100%;
    }

    .end-quizz-buttons {
        margin: 6vh 0vh;
    }

}

@media (max-width: 1051px) {

    .your-quizzes {
        margin: 15vh 0vh 6vh 0vh;
    }

    .all-quizzes, .yq-quizzlist, .your-quizzes {
        width: 95vw;
    }
}