@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300&display=swap');

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.container {
    display: flex;
}

.ocult {
    display: none;
}

header {

    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    
    background-color: #EC362D;
    color: white;
    height: 69px;    
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    align-items: center;
    justify-content: center;

}

.screen1-1{
    flex-direction: column;
    align-items: center;
}

.your-quizzes{
    width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 146px 0px 71px 0px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.your-quizzes h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #B9B9B9;

    margin-bottom: 20px;
}

.your-quizzes button{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

.all-quizzes{
    flex-direction: column;
}

.all-quizzes h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

    margin-bottom: 12px;
}

.quizz-container{
    width: 1051px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quizz{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    padding: 0px 20px;
    cursor: pointer;
    margin-bottom: 12px;

    background-size: 100% 100%;

    display: flex;
    align-items: flex-end;
}

.quizz h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    word-break: break-word;

    bottom: 0;
}


.screen2-1{
    flex-direction: column;
    align-items: center;
}

.top-banner{
    width: 100%;
    height: 227px;
    margin-top: 69px;

    background-size: 100% 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}

.screen3-1, .screen3-2, .screen3-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-up 600ms;
}

.quizz-creation h2 {
    color: red;
    font-size: 24px;
    font-family: 'Roboto';
    margin-top: -20px;
    margin-bottom: 20px;
}

.initial-info {
    
    background-color: white;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    width: 600px;
    height: 256px;
    margin-bottom: 85px;
}

.quizz-creation h1 {

    margin-top: 131px;
    margin-bottom: 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

}

.quizz-creation h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.question-info, .level-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 601px;
    padding: 20px;
    padding-top: 0px;
    background-color: white;
}

.question-info {
    height: 700px;
}

.level-info {
    height: 318px;
}

.screen3-2 button, .screen3-3 button {
    width: 353.91px;
    height: 54px;
}

.screen3-3 button {
    margin-top: 40px;
    margin-bottom: 20px;
}

.question, .level {
    margin-bottom: 24px;
}

.screen3-2 h1 {
    margin-top: 90px;
}

.question-info h3, .level-info h3 {
    align-self: flex-start;
    margin-left: 20px;
}

.question-info input, .level-info input {
    align-self: flex-start;
    margin-left: 20px;
}

.question-box, .level-box {
    width: 601px;
    height: 74px;
    background-color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.quizz-creation button {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    
    color: #FFF5F4;
    background: #EC362D;
    border-radius: 15px;

    border: solid 0px black;

}

#to3-2-button {
    width: 367.72px;
    height: 54px;
}

.quizz-creation input {
    width: 94%;
    height: 54px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 24px;
    font-family: 'Roboto';
    font-size: 19px;
}

.initial-info input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
}

.question-info {
    height: 316px !important;
}

@media (max-width: 600px) {

    .initial-info, .question, .level {
        width: 100vw;
    }

}