@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300&display=swap');

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F5F6F7;
}

.container {
    display: flex;
}

.ocult {
    display: none;
}

header {

    position: fixed;
    top: 0px;
    left: 0px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    
    background-color: #EC362D;
    color: white;
    height: 60px;    
    width: 100%;

    align-items: center;
    justify-content: center;

}

.screen3-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-up 600ms;
}

.screen3-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-up 600ms;
}

.quizz-creation h2 {
    color: red;
    font-size: 24px;
    font-family: 'Roboto';
    margin-top: -20px;
    margin-bottom: 20px;
}

.initial-info {
    
    background-color: white;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    width: 600px;
    height: 256px;
    margin-bottom: 85px;
}

.quizz-creation h1 {

    margin-top: 131px;
    margin-bottom: 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

}

.quizz-creation h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.question-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 601px;
    padding: 20px;
    padding-top: 0px;
    height: 700px;
    background-color: white;
}

.screen3-2 button {
    width: 353.91px;
    height: 54px;
}

.question {
    margin-bottom: 24px;
}

.screen3-2 h1 {
    margin-top: 90px;
}

.question-info h3 {
    align-self: flex-start;
    margin-left: 20px;
}

.question-info input {
    align-self: flex-start;
    margin-left: 20px;
}

.question-box {
    width: 601px;
    height: 74px;
    background-color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.quizz-creation button {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    
    color: #FFF5F4;
    background: #EC362D;
    border-radius: 15px;

    border: solid 0px black;

}

#to3-2-button {
    width: 367.72px;
    height: 54px;
}

.quizz-creation input {
    width: 94%;
    height: 54px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 24px;
    font-family: 'Roboto';
    font-size: 19px;
}

.initial-info input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    color: #BABABA;
}

@media (max-width: 600px) {

    .initial-info, .question {
        width: 100vw;
    }

}